/* -------------------------------------------------------- フッター*/
/* 背景色を画像の背景と同じ色に設定*/
#footer {
    background-color: #FAFAFA;
}

/* position: absoluteで下からの距離で固定 */
.copy_right {
    font-size: 14px;

    /* 先祖要素のdivタグを左下の角を基準に絶対配置します */
    position: absolute;

    /* 下から1rem　左から12px */
    bottom: 1rem;
    left: 12px;
    display: flex;
}

/* copy_rightのクラスを適用したdivタグの子要素のpタグに適用される */
.copy_right>p {
    margin-right: 5rem;
    margin-bottom: 0;
}

/* copy_rightのクラスを適用したidタグの子要素で。sns-imgクラスを適用される */
.copy_right>img.sns_img {

    /* SNSアイコンのサイズ24px */
    height: 24px;
    width: 24px;

    /* 右方向へ余白10px */
    margin-right: 10px;
    margin-top: 0;
}

/* restaurant_info直下の子要素pタグ全てに適用される */
.restaurant_info p {
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
}

/* restaurant_info直下の子要素imgタグ全てに適用される */
.restaurant_info img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    line-height: 1.5;
    margin-top: auto;
}

/* サイトアイコンを64pxに設定 */
.footer_brand_logo {
    width: 64px;
    height: 64px;
    display: inline-block;
    /* 右側余白15px */
    margin-right: 15px;
}

/* サイトタイトルのフォントをserif体（明朝体）に設定 */
.footer_text {
    font-size: 24px;
    font-family: 'Lora', serif;
}

/* スマートフォン画面幅（最大991pxまで）でスタイルを適用 */
@media screen and (max-width: 991px) {
    .footer_text,
    .copy_right {
        margin-top: 2rem;
        text-align: center;
        position: relative;
    }
    
    .copy_right>p,img {
        margin-right: 1rem;
        font-size: 14px;
        margin: 0;
        line-height: 35px;
    }    
}